<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div ng-controller="AdminController">
    <p>Hello, {{user.firstName}} {{user.lastName}}!</p>
    <button ng-click="homePage()">Home Page</button>
    <button ng-click="logout()">Logout</button>
    <br>
    <br>
    <form ng-submit="addProduct()">
      <label for="itemName">Enter product name here:</label>
      <input type="text" id="itemName" name="itemName" ng-model="item">
      <button type="submit">Submit item</button>
    </form>
  </div>

</body>

</html>