<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div ng-controller="HomeController">
    <p>Hello, {{user.firstName}} {{user.lastName}}!</p>
    <button ng-show="user.isAdmin" ng-click="adminPanel()">Admin Panel</button>
    <button ng-click="logout()">Logout</button>
    <button ng-click="eventPage()">Event Page</button>
    <br>
    <br>
    <div>
      <input type="text" ng-model="query" placeholder="Search...">
      <button ng-click="search(searchQuery)">Search</button>
      <ul>
        <li ng-show="searchQuery!==''" ng-repeat="item in items">
          <button ng-click="itemClicked(item)">{{item.product.productName}}</button>
          <button ng-click="cartClick(item)">{{item.text}}</button>
          {{item.quantity}}
          <button ng-show="item.inCart && item.quantity >= 2" ng-click="changeQuantity(item, -1)">-1</button>
          <button ng-show="item.inCart" ng-click="changeQuantity(item, 1)">+1</button>
        </li>
      </ul>
    </div>
    <br>
    <ul>
      <li ng-show="searchQuery==''" ng-repeat="item in items">
        <button ng-click="itemClicked(item)">{{item.product.productName}}</button>
        <button ng-click="cartClick(item)">{{item.text}}</button>
        {{item.quantity}}
        <button ng-show="item.inCart && item.quantity >= 2" ng-click="changeQuantity(item, -1)">-1</button>
        <button ng-show="item.inCart" ng-click="changeQuantity(item, 1)">+1</button>
      </li>
      <br><br>
      <button ng-click="purchaseItems()">Purchase items</button>
      <br><br>
    </ul>
  </div>
</body>

</html>