<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div ng-controller="HomeController">
    <p>Hello</p>
    <p>{{user.firstName}} {{user.lastName}}</p>
    <ul>
      <li ng-repeat="item in items">
        {{item.product.productName}}
        <button ng-click="cartClick(item)">{{item.text}}</button>
        {{item.quantity}}
      </li>
    </ul>
  </div>
</body>

</html>