<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div ng-controller="LoginController">
    <h2>Login Form</h2>
    <form ng-submit="login()">
      <label for="email">Enter email:</label>
      <input type="email" name="email" id="email" ng-model="user.email" required>
      <br>
      <label for="password">Enter password:</label>
      <input type="password" name="password" id="password" ng-model="user.password" required>
      <br>
      <button type="submit">Login</button>
    </form>
    <br><br>
    <a ng-href="#!/register">No account? Click here</a>
</body>

</html>